#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
<<<<<<< HEAD
}
body{
  width: 100%;
  background-color: aquamarine;
}
#root{
  width: 100%;
  background-color: blue;
}
main{
  background-color: blueviolet;
  height: 500px;
}
header{
  background-color: brown;
  height: 200px;
}
aside{
  background-color: chartreuse;
  height: 500px;
=======
>>>>>>> origin/ActividadDesarrolloApartadoAyB
}